# This will be an example of a Docker environment file for the telemetry agent.
# Copy this file to .env and modify the values as needed.

# Telemetry Agent Configuration
TARGETS="www.example.com"
COLLECTION_INTERVAL="300"  # Value in seconds

# Geolocation API Configuration
GEOLOCATION_API_URL="http://ip-api.com/json"

# InfluxDB connection for host networking
INFLUXDB_URL_HOST="http://localhost:8086"

# InfluxDB connection for docker networking
INFLUXDB_URL_DOCKER="http://influxdb2:8086"

# Shared InfluxDB Configuration
INFLUXDB_ORG="telemetry"
INFLUXDB_BUCKET="default"
INFLUXDB_ADMIN_USER="admin" # Replace with your actual DB user
INFLUXDB_ADMIN_PASSWORD="X" # Replace with your actual DB password

# Grafana configuration
GRAFANA_ADMIN_USER="admin"
GRAFANA_ADMIN_PASSWORD="X"
